@*@model testRAF.ViewModels.myViewModel
    <h2>Yorumlar</h2>
    @foreach (var item in Model.yorumlarim)
    {
        <div class="col-md-12 table-bordered text-center">
            <p>@item.YorumIcerik</p>
        </div>

    }*@

<div id="partial-yorumlar" class="hideme">

</div>
