
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/error.css" />
</head>
<body>
    <div>
        <a href="/" class="btn btn-danger form-control">Geri Dön</a>
    </div>
</body>
</html>
