<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="pWidth" value="500"/>
    <add key="pHeight" value="500"/>

    <add key="mw" value="300"/>
    <add key="mh" value="500"/>

    <add key="hw" value="1200"/>
    <add key="hh" value="300"/>
  </appSettings>
  <system.web>
    <!--<sessionState mode="InProc"  />-->
    <!--timeout="60"-->
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576"/>
    <authentication mode="Forms">
      <forms loginUrl="Account/Login"></forms>
    </authentication>
    <!---12 mart K.Y-D29-->
    <roleManager enabled="true" defaultProvider="testRafProvider">
      <providers>
        <add name="testRafProvider" type="testRAF.Security.RafProvider" />
      </providers>
    </roleManager>

    <customErrors mode="On">
      <error statusCode="404" redirect="/Error/NotFound" />
    </customErrors>

  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="rafDBEntities" connectionString="metadata=res://*/Models.rafModel.csdl|res://*/Models.rafModel.ssdl|res://*/Models.rafModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\rafDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="rafEntities" connectionString="metadata=res://*/DBModel.UserDBModel.csdl|res://*/DBModel.UserDBModel.ssdl|res://*/DBModel.UserDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=raf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities" connectionString="metadata=res://*/DBModel.UserDBModel.csdl|res://*/DBModel.UserDBModel.ssdl|res://*/DBModel.UserDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=listerafDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities1" connectionString="metadata=res://*/DBModel.Model1.csdl|res://*/DBModel.Model1.ssdl|res://*/DBModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY;initial catalog=listerafDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities001" connectionString="metadata=res://*/DBModel.UserDBModel.csdl|res://*/DBModel.UserDBModel.ssdl|res://*/DBModel.UserDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=listerafDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities_001" connectionString="metadata=res://*/Models.Entity.listeRafModel.csdl|res://*/Models.Entity.listeRafModel.ssdl|res://*/Models.Entity.listeRafModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=listerafDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities2" connectionString="metadata=res://*/Models.Entity.LRModel.csdl|res://*/Models.Entity.LRModel.ssdl|res://*/Models.Entity.LRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=listerafDB;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities01" connectionString="metadata=res://*/Models.Entity.LRModel.csdl|res://*/Models.Entity.LRModel.ssdl|res://*/Models.Entity.LRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=listerafDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities3" connectionString="metadata=res://*/Models.Entity.Model1.csdl|res://*/Models.Entity.Model1.ssdl|res://*/Models.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=listerafDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities_1" connectionString="metadata=res://*/Models.Entity.listerafModel.csdl|res://*/Models.Entity.listerafModel.ssdl|res://*/Models.Entity.listerafModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=listerafDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="listerafDBEntities4" connectionString="metadata=res://*/Models.Entity.Model1.csdl|res://*/Models.Entity.Model1.ssdl|res://*/Models.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLORY\GLORY;initial catalog=listerafDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>