
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @Styles.Render("~/Content/jquery.autocomplete.css")
    @Scripts.Render("~/Content/jquery.autocomplete.js")
</head>
<body>
    <div>
        <input class="my-input" id="searchInput" name="searchInput" type="text" placeholder="Bir şeyler arayın...">
    </div>

    <script type="text/javascript">

    </script>
</body>
</html>
